@import '../../variables/variables';

.form-register{
    margin: auto ;
    max-width: 600px;
    width: 100%;
    background-color: #F3F7F9;
    padding: 16px;
    border-radius: 5px;
}

.login-title{
    font-size: 18px;
    color: $txtColor;
    font-weight: 700;
    font-size: 30px;
}

.login-input{
    border: none;
    color: #A3AFB7;
    line-height: 29px;
    background-color: inherit;
    font-size: 24px;
    font-weight: 400;
    padding: 9px 5px;
    border-bottom: 1px solid #A3AFB7;
    outline: none
    
}

.login-box{
    margin-top: 19px;
}
.login-create{
    min-width: 100px;
    padding: 3px 5px 5px;
    cursor: pointer;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background: #589FFC;
    color: #F3F7F9;
    &:hover{
        transition: all .5s ease-out;
        background: #3E8EF7;
    }
    

}


.login-login{
    
    margin-right: 15px;
    font-size: 20px;
    color: #247CF0;
    user-select: none;
    border-bottom: 1px solid #247CF0;
    &:hover{
        transition: all .5s ease-out;
        border-bottom: 1px solid #3E8EF7;
    }
    
}

.reg-res-logo{
    display: flex;
    margin: 240px auto 20px;
}