/**********************************
**************My issues************
**********************************/
.content-allIssues {
  max-width: 440px;
  width: 100%;
  border-right: 2px solid #e5e5e5;
  padding-right: 12px;
}

.content-empty {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  padding: 25px 0;
}

.content-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-innerIssue {
  padding-left: 31px;
  width: 100%;
}

.content-innerIssue-description {
  color: #526069;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.content-innerIssue-title {
  font-weight: 700;
  line-height: 24px;
  color: #263238;
  margin-bottom: 7px;
}

.content-innerIssue-emptyList {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #526069;
}

.content-linked-item {
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 7px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-bottom: 2px solid #e5e5e5;
  max-width: 760px;
  width: 100%;
}

.content-linked-item-link {
  color: #263238;
}

.content-linked-item span {
  margin-right: 3px;
  color: #0b69e3;
  font-size: 18px;
  line-height: 22px;
}

.content-attachment-item {
  width: 128px;
  height: 128px;
  padding: 10px;
  background: #fff;
  margin-right: 10px;
}

.content-attachment-filename {
  color: #526069;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 3px 0;
}

.content-attachment-preview {
  width: 109px;
  height: 92px;
}

.content-attachment-btn {
  border: none;
  cursor: pointer;
  background: none;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-attachment-btn img {
  margin-top: 5px;
  height: 66px;
  width: 50px;
}

.issues-infoblock-box {
  margin-right: 90px;
}

.issues-infoblock-edit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;
}

.issues-infoblock-edit::after {
  content: url(../../components/Images/edit.svg);
  position: absolute;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.issues-infoblock-reported, .issues-infoblock-txt, .issues-infoblock-estimate {
  color: #526069;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 14px;
  margin-right: 5px;
  height: 22px;
}

.issues-infoblock-reported span, .issues-infoblock-txt span, .issues-infoblock-estimate span {
  margin-left: 10px;
  color: #263238;
}

.issues-infoblock-avatar {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.issues-infoblock-name {
  color: #263238;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.button-specifications {
  background-color: #fab06b;
}

.button-settings {
  background-color: #3e8ef7;
}

.button-add-new {
  background-color: #11c26d;
}

.page-title-button {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: #f3f7f9;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.page-title-button-icon {
  margin-right: 10px;
}

.page-title-button p {
  padding-bottom: 2px;
}

.page-title-buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-issues-list {
  overflow-y: scroll;
  height: 70vh;
}

.content-issues-item {
  margin-right: 10px;
}

.content-issues-list::-webkit-scrollbar {
  width: 6px;
}

.content-issues-list::-webkit-scrollbar-track {
  background-color: inherit;
}

.content-issues-list::-webkit-scrollbar-thumb {
  background-color: #ccd5db;
  outline: 1px solid #ccd5db;
  border-radius: 2px;
}
/*# sourceMappingURL=style.css.map */