$darkGrey: #526069;
$lightGrey: #f3f7f9;
$borderGrey: #a3afb7;
$txtColor: #263238;

// Types of tasks label colors

$taskLabel: #79b2fc;
$taskTxt: #0b69e3;

$bugLabel: #ff4c52;
$bugTxt: #ffdbdc;

$ideaLabel: #fff39c;
$ideaTxt: #faa700;

// Status of tasks label colors

$todoLabel: #247cf0;
$todoTxt: #d9e9ff;

$inProgressLabel: #de4e00;
$inProgressTxt: #ffe1c4;

$inReviewLabel: #0099b8;
$inReviewTxt: #c2f5ff;

$doneLabel: #05a85c;
$doneTxt: #c2fadc;

$blockedLabel: #e62020;
$blockedTxt: #ffdbdc;

// Priority of tasks label colors

$lowesLabel: #ffc894;
$lowesTxt: #b53f00;

$lowLabel: #fab06b;
$lowTxt: #b53f00;

$mediumLabel: #fa983c;
$mediumTxt: #b53f00;

$highLabel: #ff8589;
$highTxt: #e62020;

$highestLabel: #ff666b;
$highestTxt: #ffdbdc;

//ERROR MESSAGES STYLE VARS

$erroColor: #ff666b;

//ERROR MESSAGES STYLE VARS

$successColor: #28d17c;
$successColorBG: #c2fadc;

//TXT STYLE MIXINS

@mixin normalTXT($fontSize) {
  font-weight: 400;
  font-size: $fontSize;
  line-height: 24px;
  color: $txtColor;
}

@mixin boldTXT($fontSize) {
  font-weight: 700;
  font-size: $fontSize;
  line-height: 24px;
  color: $txtColor;
}

//SCROLL BAR MIXINS

@mixin scrollBAR{
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: inherit;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccd5db;
    outline: 1px solid #ccd5db;
    border-radius: 2px;
  }
}
