$darkGrey : #526069;
$lightGrey : #F3F7F9;
$borderGrey : #a3afb7;

// Types of tasks label colors

$taskLabel: #79B2FC;
$taskTxt: #0B69E3;


$bugLabel: #FF4C52;
$bugTxt: #FFDBDC;

$ideaLabel: #FFF39C;
$ideaTxt: #FAA700;




// Status of tasks label colors


$todoLabel: #247CF0;
$todoTxt: #D9E9FF;

$inProgressLabel: #DE4E00;
$inProgressTxt: #FFE1C4;

$inReviewLabel: #0099B8;
$inReviewTxt: #C2F5FF;

$doneLabel: #05A85C;
$doneTxt: #C2FADC;

$blockedLabel: #E62020;
$blockedTxt: #FFDBDC;


// Priority of tasks label colors

$lowesLabel: #FFC894;
$lowesTxt: #B53F00;

$lowLabel: #FAB06B;
$lowTxt: #B53F00;

$mediumLabel: #FA983C;
$mediumTxt: #B53F00;

$highLabel: #FF8589;
$highTxt: #E62020;

$highestLabel: #FF666B;
$highestTxt: #FFDBDC;








//ERROR MESSAGES STYLE VARS

$erroColor:#FF666B