h1,
h2,
h3,
h4,
h5,
h6,
html,
body {
  margin: 0;
  padding: 0;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
html > a,
body > a {
  text-decoration: none;
  color: inherit;
}

ul,
p,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
}

.bold {
  font-weight: 700;
}

.wrapper {
  max-width: 1620px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  padding: 61px 160px 0 160px;
}

h1.page-title-text {
  color: #263238;
  font-weight: 400;
  line-height: 38px;
  font-size: 32px;
}

.page-title-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.create-project-btn {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #11c26d;
  border-radius: 5px;
  border: none;
  height: 35px;
  color: #f3f7f9;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.create-project-btn::before {
  content: url(./components/Images/plus.svg);
  width: 22px;
  height: 22px;
  padding-right: 10px;
}

.content-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-box {
  max-width: 790px;
  width: 100%;
  background-color: #f3f7f9;
  border-radius: 5px;
  padding: 15px 20px;
  height: 424px;
}

.content-box:first-child {
  margin-right: 40px;
}

.content-box-title {
  color: #263238;
  font-weight: 700;
  margin-right: 18px;
}

.content-box-link {
  color: #79b2fc;
  text-decoration: underline;
  font-weight: 400;
  font-style: 20px;
}

.content-circle {
  border-radius: 50%;
  max-width: 48px;
  width: 100%;
  height: 48px;
  margin-right: 20px;
}

.content-list {
  margin-top: 20px;
}

.content-item-title {
  font-size: 18px;
  color: #263238;
  font-weight: 400;
}

.content-item-descr {
  color: #a3afb7;
  line-height: 17px;
  font-size: 14px;
}

.content-projects {
  background-color: #f3f7f9;
  border-radius: 5px;
  padding: 16px 20px;
}

.issues-item {
  margin-bottom: 10px;
}

.issues-item-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.issues-markers {
  margin-left: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.activities-item {
  margin-bottom: 10px;
}

/**********************************
**************Markers**********
**********************************/
.issues-markers-item {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  margin-right: 7px;
  text-transform: capitalize;
}

.marker-status-todo {
  color: #d9e9ff;
  background-color: #247cf0;
}

.marker-status-in_progress {
  color: #ffe1c4;
  background-color: #de4e00;
}

.marker-status-in_review {
  color: #c2f5ff;
  background-color: #0099b8;
}

.marker-status-done {
  color: #c2fadc;
  background-color: #05a85c;
}

.marker-status-blocked {
  color: #ffdbdc;
  background-color: #e62020;
}

.marker-priority-lowest {
  color: #b53f00;
  background-color: #ffc894;
}

.marker-priority-low {
  color: #b53f00;
  background-color: #fab06b;
}

.marker-priority-medium {
  color: #b53f00;
  background-color: #fa983c;
}

.marker-priority-high {
  color: #ff8589;
  background-color: #e62020;
}

.marker-priority-highest {
  color: #ff666b;
  background-color: #ffdbdc;
}

.marker-type-task {
  color: #0b69e3;
  background-color: #79b2fc;
}

.marker-type-bug {
  color: #ffdbdc;
  background-color: #ff4c52;
}

.marker-type-idea {
  color: #faa700;
  background-color: #fff39c;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: inherit;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccd5db;
  outline: 1px solid #ccd5db;
  border-radius: 2px;
}
/*# sourceMappingURL=index.css.map */