
h1, h2, h3, h4, h5, h6, html, body {
    margin: 0;
    padding: 0;
  }
  
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, html > a, body > a {
    text-decoration: none;
    color: inherit;
}
  
ul, p, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
  
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
  
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color:#E5E5E5;
}

.bold{
    font-weight: 700;
}

.wrapper{
    max-width:1620px;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.between{
    justify-content: space-between;
}

.end{
    justify-content: flex-end;
}

.main{
    padding: 61px 160px 0 160px;
}

h1.page-title-text{
    color: #263238;
    font-weight: 400;
    line-height: 38px;
    font-size: 32px;
    margin-bottom: 35px;

}

.page-title-row{
    justify-content: space-between;
    
}

.create-project-btn{
    padding-left: 31px;
    padding-right: 10px;
    background-color: #11C26D;
    border-radius: 5px;
    border: none;
    height: 35px;
    color: #F3F7F9;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    &::before{
        content: url(./components/Images/plus.svg);
        position: absolute;
        left: 5px;
        top: 8px;
    }
}

.content-row{
    justify-content: space-between;
}

.content-box{
    max-width: 790px;
    width: 100%;
    background-color: #F3F7F9;
    border-radius: 5px;
    padding: 15px 20px;
    height: 424px;
    &:first-child{
        margin-right: 40px;
    }


    &-title{
        color: #263238;
        font-weight: 700;
        margin-right: 18px;

    }

    &-link{
        color: #79B2FC;
        text-decoration: underline;
        font-weight: 400;
        font-style: 20px;
    }

    

}


.content{
    &-circle{
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin-right: 20px;
    }
    &-list{
        margin-top: 20px;
    }
    &-item-title{
        font-size: 18px;
        color: #263238;
        font-weight: 400;

    }
    &-item-descr{
        color: #A3AFB7;
        line-height: 17px;
        font-size: 14px;
    }
    &-projects{
        background-color: #F3F7F9;
        border-radius: 5px;
        padding: 16px 20px;
    }
}

.issues-item{
    margin-bottom: 10px;
    &-logo{        
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}

.issues-markers{
    margin-left: auto;
}
.activities-item{
    margin-bottom: 10px;
}



/**********************************
**************Markers**********
**********************************/



.issues-markers-item{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 7px;
}

.marker-status{
    &-todo{
        color: #D9E9FF;
        background-color: #247CF0;
    }
    &-inProgress{
        color: #FFE1C4;
        background-color: #DE4E00;
    }
    &-inReview{
        color: #C2F5FF;
        background-color: #0099B8;
    }
    &-done{
        color: #C2FADC;
        background-color: #05A85C;
    }
    &-blocked{
        color: #FFDBDC;
        background-color: #E62020;
    }
}

.marker-priority{
    &-lowest{
        color: #B53F00;
        background-color: #FFC894;
    }
    &-low{
        color: #B53F00;
        background-color: #FAB06B;
    }
    &-medium{
        color: #B53F00;
        background-color: #FA983C;
    }
    &-high{
        color: #E62020;
        background-color: #FF8589;
    }
    &-highest{
        color: #FF666B;
        background-color: #FFDBDC;
    }
}


.marker-type{
    &-task{
        color: #0B69E3;
        background-color: #79B2FC;
    }
    &-bug{
        color: #FF4C52;
        background-color: #FFDBDC;
    }
    &-idea{
        color: #FAA700;
        background-color: #FFF39C;
    }
}